body{
	margin: 0;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	line-height: 30px;

}
header{
	background-color: #D3E330;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px; 
}
h1,h2{
	font-family: 'Shadows Into Light', cursive;
}
header h1{
	color: Black;
	font-size: 50px;
}
header img{
	border-radius: 170px;
    width: 300px;
    border: 10px solid;

}

main{
	max-width: 800px; 
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}
h2{
	margin: 40px 0 10px;
	font-size: 30px;

}

a{
	color: blue;

}
a:hover{
	color: red;
}

footer{
	text-align: center;
	font-family: Calibri;
	padding: 50px;

}
footer p {
	margin: 0;
}
p.caption{
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 70px;
	text-align: center;
}